<script>
  import { onMount } from 'svelte';
  import {
    Jumbotron,
    CustomInput,
    Button,
  } from 'sveltestrap';
  import h337 from './heatmap.js';

  let dataset, imageFiles, image, container, heatmap;
  let radius = 100;
  let max = 100;
  let min = 0;
  let blur = 0.75;
  let minOpacity = 0;
  let maxOpacity = 0.75;
  let gradientInput = "blue,green,yellow,red";

  function onImageInput(event) {
    imageFiles = Array.from(event.target.files);
  }

  async function onDataInput(event) {
    if (event.target.files.length == 0) return;
    dataset = JSON.parse(await event.target.files[0].text());
  }

  function onImageSelect(event) {
    const file = imageFiles[event.target.selectedIndex];
    image.src = URL.createObjectURL(file);
    image.name = file.name;
  }

  function scaleData(data, image) {
    const widthRatio = image.width / image.naturalWidth;
    const heightRatio = image.height / image.naturalHeight;
    return data.map(point => {
      return {
        x: (point.x * widthRatio) >> 0,
        y: (point.y * heightRatio) >> 0,
        value: point.value * 1
      };
    });
  }

  function onImageLoad() {
    if (!dataset) { return; };
    initHeatmap();

    let data = dataset[image.name];
    if (data) {
      drawHeatmap(scaleData(data, image));
    } else {
      alert('no data');
    };

  }

  function getGradient() {
    let gradient = {};
    let colors = gradientInput.split(',');
    for (let i = 0; i < colors.length; i++) {
      gradient[(i / colors.length).toFixed(2)] = colors[i];
    }
    return gradient;
  }

  function initHeatmap(saveData=false) {
    let config = {
      radius, maxOpacity, minOpacity, blur,
      gradient: getGradient(),
    };
    let prevData;

    if (heatmap) {
      container.removeChild(container.querySelector('canvas'));
      if (saveData) prevData = heatmap.getData();
    }
    heatmap = h337.create({ container, ...config });
    if (prevData) drawHeatmap(prevData);
  }

  function drawHeatmap(data) {
    heatmap.setData({ min, max, data });
    heatmap.repaint();
  }

  function forceRedraw() {
    (heatmap && initHeatmap(true));
  }
</script>

<main>
  <div>
    <div bind:this={container} class="overlayed" style="min-width: 300px">
      <img bind:this={image} on:load={onImageLoad} alt="">
    </div>
  </div>

  <Jumbotron>
    <div>
      <div class="flex">
        <CustomInput type="file"
                     label="upload images"
                     accept="image/*"
                     multiple
                     on:input={onImageInput} />
        <CustomInput type="file"
                     label="upload data"
                     accept="application/json"
                     on:input={onDataInput} />
      </div>
      <select multiple on:change={onImageSelect}>
        {#if imageFiles}
          {#each imageFiles as file}
            <option value={file.name}>{file.name}</option>
          {/each}
        {/if}
      </select>
    </div>

    <br/>

    <div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">radius</span>
        </div>
        <input bind:value={radius} on:change={forceRedraw} type="text" class="form-control">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">min</span>
        </div>
        <input bind:value={min} on:change={() => (heatmap && heatmap.setDataMin(min))} type="text" class="form-control">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">max</span>
        </div>
        <input bind:value={max} on:change={() => (heatmap && heatmap.setDataMax(max))} type="text" class="form-control">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">blur</span>
        </div>
        <input bind:value={blur} on:change={forceRedraw} type="text" class="form-control">
      </div>


      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">min opacity</span>
        </div>
        <input bind:value={minOpacity} on:change={forceRedraw} type="text" class="form-control">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">max opacity</span>
        </div>
        <input bind:value={maxOpacity} on:change={forceRedraw} type="text" class="form-control">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">gradient colors</span>
        </div>
        <input bind:value={gradientInput} on:change={forceRedraw} type="text" class="form-control">
      </div>
    </div>

  </Jumbotron>
</main>

<style>
	main {
		margin: 0 auto;
    display: flex;
    padding: 5px;
    align-content: flex-start;
	}

  .flex {
    display: flex;
    align-content: flex-start;
  }

  main > div {
    margin: 5px 5px;
  }

  select {
    width: 100%;
  }

  .overlayed {
    display: inline-block;
    width: auto;
    height: auto;
    max-width: 640px;
    padding: 0 0;
    margin: 0 0;
  }

  .overlayed img {
    display: block;
    padding: 0 0;
    margin: 0 0;
    width: 100%;
    height: 100%;
  }
</style>
