<script>
  export let placeholder = "";
  export let ariaLabel = "";
</script>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text"><slot/></span>
  </div>
  <input type="text" class="form-control" placeholder={placeholder} aria-label={ariaLabel}>
</div>
